<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<div class="line">
	<%= error_messages_for :line %>
	<div class="table_row error_line">
		<div class="table_cell" id= 'delete_me' style='color:#ff6666;'>No se pudo encontrar codigo UPC</div>
	</div>
</div>
