{% extends "accounting/base.html" %}
{% load i18n %}
{% load tags %}

{% block breadcrumb %}{{ block.super }} &raquo;
	{% if obj %}
		 <a href="{% url edit_account obj.pk %}">{% trans "Edit Account" %}</a>
	{% else %}
		<a href="{% url new_account %}">{% trans "New Account" %}</a>
	{% endif %}
{% endblock %}
{% block heading %}
	{% if obj %}
		{% trans "Change Account" %}
	{% else %}
		{% trans "New Account" %}
	{% endif %}
{% endblock %}
{% block actions %}
	{% edit_actions 'account' _('Save Account') _('Cancel') _('List Accounts') obj %}
{% endblock %}
{% block content %}
	{{ error_message }}
	{% if obj %}
		<form name="account_form" method="post" action="{% url edit_account obj.pk %}">
	{% else %}
		<form name="account_form" method="post" action="{% url new_account %}">
	{% endif %}
		<div class="column2-unit-left">
			{% trans_field form 'name' current_lang _("Name") %}
			{% form_field form.number _("Number") %}
		</div>
		<div class="column2-unit-right">
			{% form_field form.parent _("Branch") %}
			{% form_field form.modifier _("Account Type") %}
		</div>
	</form>
{% endblock %}
