{% extends "accounting/base.html" %}
{% load i18n %}
{% load tags %}
{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ obj.get_absolute_url }}">{% trans "Show Account" %}</a>{% endblock %}
{% block heading %}{% trans "Account Details" %}{% endblock %}
{% block actions %}
	{% show_actions 'account' _('New Account') _('Edit Account') _('List Accounts') obj %}
{% endblock %}
{% block content %}
	<div class="column2-unit-left">
		{% detail_item _('Name') obj.name %}
		{% detail_item _('Account Number') obj.number %}
		{% detail_item _('Balance') obj.balance %}
	</div>
	<div class="column2-unit-right">
		{% detail_item _('Branch') obj.parent %}
		{% detail_item _('Type') obj.get_modifier_display %}
	</div>
{% endblock %}
