<% form_tag session_path do -%>
<p><label for="login">Usuario</label><br/>
<%= text_field_tag 'login', "", :class => 'field' %></p>

<p><label for="password">Contrasena</label><br/>
<%= password_field_tag 'password', "", :class => 'field' %></p>


<p><label for="remember_me">Recuerde me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Engresar' %></p>
<% end -%>
