<% case @entity.entity_type_id
	when 1 %>
		<% content_for :title do %>Nuevo Proveedor <% end %>
	<% when 2 %>
		<% content_for :title do %>Nuevo Cliente<% end %>
	<% when 3 %>
		<% content_for :title do %>Nuevo Sitio<% end %>
	<% when 5 %>
		<% content_for :title do %>Nuevo Cliente<% end %>
	<% else %>
		<% content_for :title do %>Nueva Entidad<% end %>
<% end %>

<% for error in @entity.errors %>
	<p class="error_message">
		<%= error[0] %> <%= error[1] %>
	</p>
<% end %>

<% form_for @entity, :html => {:id => 'entity_form' } do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f, :mode =>'new' } %>
<% end %>
