
/*#e1e1e1       */
.main-content .table_row {height:2.5em; background: #e1e1e1; border-top:solid 1px rgb(255,255,255); border-bottom:solid 1px rgb(255,255,255); color: #000000; margin-top: 0; margin-right: 0px; margin-bottom: 0; margin-left: 0px; padding: 0; text-align: center; font-weight:normal; color:rgb(80,80,80); font-size:120%;}
.main-content .table_row_green {height:2.5em; background: #96c09c; border-top:solid 1px rgb(255,255,255); border-bottom:solid 1px rgb(255,255,255); color: #000000; margin-top: 0; margin-right: 0px; margin-bottom: 0; margin-left: 0px; padding: 0; text-align: center; font-weight:normal; color:rgb(80,80,80); font-size:120%;}
.main-content .table_row_red {height:2.5em; background: #ff6666; border-top:solid 1px rgb(255,255,255); border-bottom:solid 1px rgb(255,255,255); color: #000000; margin-top: 0; margin-right: 0px; margin-bottom: 0; margin-left: 0px; padding: 0; text-align: center; font-weight:normal; color:rgb(80,80,80); font-size:120%;}
.main-content .table_header_row {height:2.5em; background: #7cb4a9; border-top:solid 2px rgb(255,255,255); border-bottom:solid 1px rgb(255,255,255); color: #000000; margin-top: 0; margin-right: 0px; margin-bottom: 0; margin-left: 0px; padding: 0; text-align: center; font-weight:bold; color: #FFFFFF; font-size:120%;}
.main-content .table_cell_20 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 20%; vertical-align: bottom;}
.main-content .table_cell {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em;}
.main-content .table_cell_5 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 5%; vertical-align: bottom;}
.main-content .table_cell_15 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 15%; vertical-align: bottom;}
.main-content .table_cell_10 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 10%; vertical-align: bottom;}
.main-content .table_cell_50 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 50%; vertical-align: bottom;}
.main-content .table_cell_80 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 80%; vertical-align: bottom;}
.main-content .table_cell_25 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 25%; vertical-align: bottom;}
.main-content .table_cell_30 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 30%; vertical-align: bottom;}
.main-content .table_cell_35 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 35%; vertical-align: bottom;}
.main-content .table_cell_40 {overflow:hidden; border-right:solid 2px rgb(255,255,255); height:2.5em; float: left; width: 40%; vertical-align: bottom;}
.main-content .table_row select {width:95%;padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;background: #e1e1e1;}
.main-content .table_row_red select {width:95%;padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.main-content .table_row_green select {width:95%;padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}

/* These are set specificly for the bulk_edit product view */
.main-content .table_row_red input.field {width:7%;background: #ff6666;}
.main-content .table_row_green input.field {width:7%;background: #96c09c;}
.main-content .table_row input.field {width:90%;background: #e1e1e1;}
.main-content .table_row input.serial {width:90%;background: #e1e1e1;}
/* End for the bulk_edit product view */

.main-content textarea {width:600px; padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.main-content .table_cell_5  input.field{width:90%;}
.main-content .table_cell_10  input.field{width:90%;}
.main-content .table_cell_15  input.field{width:90%;}
.main-content .table_cell_20  input.field{width:90%;}
.main-content .table_cell_25  input.field{width:90%;}
.main-content .table_cell_30  input.field{width:90%;}
.main-content .table_cell_35  input.field{width:90%;}
.main-content .table_cell_40  input.field{width:90%;}
.main-content .table_cell_50  input.field{width:90%;}
.main-content .table_cell_80  input.field{width:90%;}
.main-content .table_cell_10  input.serial{width:90%;}
.main-content .table_cell_20  input.serial{width:90%;}
.main-content .table_cell_15  input.serial{width:90%;}
.checkbox-list {color: black; clear:both; margin:1px 0 1.0em 0; line-height:1.0em; font-size:120%;}
.slider_bar {margin-top:10px;}
.slider_bar select{display:none;}
.slider_bar .from_div{width:49%;float:left;margin-bottom:10px;}
.slider_bar .till_div{width:49%;float:right;margin-bottom:10px;}
.ui-slider{clear:both;}
.auto_complete {font-family:verdana,arial,sans-serif; background: #fff;}
.auto_complete ul {border:solid 1px rgb(200,200,200);margin:0;padding:0;;list-style-type:none;}
.auto_complete ul li {padding:3px;text-align: center;}
.auto_complete ul li.selected {background-color: #96c09c;}
