<div class="line">
	<% for error in child_form.object.errors %>
		<p class="error_message">
			<%= error[1] %>
		</p>
	<% end %>
	<div class="table_row">
		<div class="table_cell_80"><%=h child_form.object.title %></div>
		<div class="table_cell">
			<%= child_form.check_box :_delete, :style=>'display:none;' %>
            <%= link_to_function "Remover", 'check_box($(this))' %>
        </div>
	</div>
</div>
