{% extends "base.html" %}
{% load tags %}
{% block menus %}
	{% menu_start _('New') %}
		{% menu_item "/orders/new_sale" _('Sale') %}
		{% menu_item "/orders/new_client" _('Client') %}
		{% menu_item "/orders/new_purchase" _('Purchase') %}
	{% menu_end %}
	{% menu_start _('Products') %}
		{% menu_item "/inventory/products" _('Products') %}
		{% menu_item "/inventory/services" _('Services') %}
	{% menu_end %}
	{% menu_start _('Orders') %}
		{% menu_item "/orders/sales" _('Sales') %}
		{% menu_item "/orders/purchases" _('Purchases') %}
	{% menu_end %}
	{% menu_button "/accounting/" _('Accounting') %}
	{% menu_start _('Sites') %}
		{% for site in sites %}
			{% menu_item "/inventory/products" _('Products') %}
		{% endfor %}
	{% menu_end %}
{% endblock %}
