<% content_for(:javascript) do %>
  <%= javascript_include_tag "submit_link" %>
<% end %>
<% content_for :actions do %>
	<li><%= link_to_function 'Guardar', 'submit("trans_form")', :class => 'action' %></li>
<% end %>

<%= error_messages_for :trans %>
<% form_for(@trans, :url => { :action => 'update'}, :html => {:id => 'trans_form' }) do |f| %>
<br />
	<div class="column2-unit-left">
		<p>
			<b>Descripción</b>
			<%= f.text_field :comments, :class => 'field' %>
		</p>
	</div>
	<div class="column2-unit-right">

	</div>
	<hr class="clear-contentunit" />



<% end %>
