<% content_for :title do %>Lista de Unidades<% end %>
<% content_for :actions do %>
	<% if current_user.has_right('CREATE_UNITS') %>
	<li><%= link_to 'Nueva unidad', new_unit_path, :class => 'action' %></li>
<% end %>
<% end %>


<%= will_paginate @units, :class => 'pagination' %>
<div>
  <div class="table_header_row">
    <div class="table_cell">Nombre de Unidad</div>
  </div>
<% for unit in @units %>
  <div class="table_row"> 
    <div class="table_cell"><%= h unit.name %></div>
  </div>
<% end %>
<br />
<%= will_paginate @units, :class => 'pagination' %>

</div>


