{% load i18n %}
{% load tags %}
<div class="simple-line" id="simple-{{form.prefix}}" fff="{{form.prefix}}">
	<div class="table_row">
		{{form.id}}
		<div class="cell" style="width: 20%;"><div class="table_cell">
			{% if form.instance %}
				{% link form.instance.product.get_absolute_url form.instance.product.name %}
			{% else %}
				{% link form.data.product.get_absolute_url form.data.product.name %}
			{% endif %}
			{{form.product}}
		</div></div>
		<div class="cell" style="width: 20%;"><div class="table_cell">{{form.quantity}}</div></div>
		<div class="cell" style="width: 20%;"><div class="table_cell">{{form.price}}</div></div>
		<div class="cell" style="width: 20%;"><div class="table_cell"><input class="is_delivered" type="checkbox"></div></div>
		<div class="cell" style="width: 20%;"><div class="table_cell delete_cell">{{form.DELETE}}</div></div>
	</div>
</div>
