{% extends "orders/base.html" %}
{% load i18n %}
{% load tags %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{% url index_sales %}">{% trans "Sales" %}</a>{% endblock %}
{% block heading %}{% trans "List of Sales" %}{% endblock %}
{% block actions %}
	{% url new_sale as new_url %}
	{% action new_url _('New Sale') %}
{% endblock %}
{% block content %}	
	{% if object_list %}
	  <div class="table_header_row">
	  		{% cell _('Number') 20 %}
	  		{% cell _('Vendor') 20 %}
	  		{% cell _('Status') 20 %}
	  		{% cell _('Total') 20 %}
	  		{% cell _('Paid') %}
	  </div>
	  {% for object in object_list %}
	  	<div class="table_row">
      	{% cell_link object.get_absolute_url object.number 20 %}
      	{% if object.vendor %}
      		{% url orders.views.show object.vendor.pk as vendor_url %}
      		{% cell_link vendor_url object.vendor 20 %}
      	{% else %}
      		{% cell "" 20 %}
      	{% endif %}
      	{% cell "Pending..." 20 %}
      	{% cell object.total 20 %}
      	{% cell object.paid %}
      </div>
	  {% endfor %}
	  </ul>
	{% else %}
	  <p>{% trans "No sales were found." %}</p>
	{% endif %}
{% endblock %}

