{% extends "orders/base.html" %}
{% load i18n %}
{% load tags %}
{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ obj.get_absolute_url }}">{% trans "Show Sale" %}</a>{% endblock %}
{% block heading %}{% trans "Sale Details" %}{% endblock %}

{% block includes %}
	<script type="text/javascript" src="/static/js/show_order.js"></script> 
{% endblock %}
{% block actions %}
	{% show_actions 'sale' _('New Sale') _('Edit Sale') _('List Sales') obj %}
{% endblock %}
{% block content %}
	<div class="column2-unit-left">
		{% detail_item _('Client') obj.client.name %}
		{% detail_item _('Total') obj.total %}
		{% detail_item_date _('Created') obj.created_at %}
		{% detail_item _('Receipt') obj.number %}
	</div>
	<div class="column2-unit-right">
		{% detail_item _('Site') obj.site.name %}
		{% detail_item _('Amount Paid') obj.paid %}
		{% detail_item _('Amount Paid') obj.paid %}
		{% detail_item_date _('Delivered') obj.received %}
	</div>
	<hr class="clear-contentunit"/>
	{% detail_item _('Notes') obj.notes %}
	
	<div class="table">
			<div class="table_header_row">
				{% cell _('Product') 25 %}
				{% cell _('Quantity') 25 %}
				{% cell _('Price') 25 %}
				{% cell _('Status') 25 %}
			</div>
			{% for line in obj.line_set.all %}
				{% include 'orders/show_line.html' %}
			{% endfor %}
	</div>
{% endblock %}

