<h1>Editing serialized_product</h1>

<%= error_messages_for :serialized_product %>

<% form_for(@serialized_product) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @serialized_product %> |
<%= link_to 'Back', serialized_products_path %>
