<h1>New serialized_product</h1>

<%= error_messages_for :serialized_product %>

<% form_for(@serialized_product) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', serialized_products_path %>
